html {
  background-image: url("./img/alexandra-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: top;

}

.strike-through {
  text-decoration: line-through;
}

.fa-trash-can:hover {
  cursor: pointer;

}

.form-check-input:hover {
  cursor: pointer;

}